
html {
  scroll-behavior: smooth;
}

body
{
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}

section
{
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 80px;
  padding-bottom: 50px;
  opacity: 1;
  min: 100vh;
}

.container
{
  padding: 100px;
}

.banner
{
  position: relative;
  height: 100vh;
  min-height: 600px;
  background: lightblue;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2
{
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em
}
.banner h2 span
{
  font-size: 1.5em;
  font-weight: 700;
}

.banner h3
{
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.btn
{
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  Letter-spacing: 2px;
  font-weight: 500;
}

header
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky
{
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header .logo
{
  color: #fff;
  font-size: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  Letter-spacing: 2px;
}
header.sticky .logo
{
  color: #111;
}

header ul {
  display: flex;
  list-style: none;
  font-size: 1.1em;
}

header ul li {
  position: relative;
  list-style: none;
  float: left;
  transition: 0.5s;
}
header ul li a {
  position: relative;
  display: inline-block;
  padding: 2px;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;

}

header.sticky ul li a
{
  color: #111;
}

header.sticky ul li a:after {
  background: #111;
}
header ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  border-radius: 100px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header ul li a:hover:after {
  width: 80%;
  left: 10%;
}

.heading
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading h2
{
  font-weight: 600;
  font-size: 30px;
}
.content
{
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}
.contentBx
{
  padding-right: 30px;
}
.contentBx h3
{
  font-size: 24px;
  margin-bottom: 10px;
}
.w50
{
  position: relative;
  min-width: 300px;
  max-width: 50%;
  min-height: 300px;
}
#bust
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  min-width: 300px;
  width: 100%;
  height: 100%;
}
.circle
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    background-color: lightblue;
    width: 150px;
    height: 150px;
  }

.about img
{
  max-width: 50%;
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

img
{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.work .content
{
  display: flex;
  flex-wrap: wrap;
}
.work .content .workBx
{
  flex: 0 50%;
  box-sizing: border-box;
  padding: 10px;
}

.work .content .workBx img
{
  max-width: 100%;
}
.footer{
  width: 100%;
  background: #111;
  color: #fff;
  padding: 10px;
}
.footer p
{
  text-align: center
}
.footer ul
{
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 50px;
  margin: auto;
}
.footer ul li a
{
  width: 1.5em;
  height: 1.5em;
  background-color: #111;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #111;
  z-index: 1;
  transition:  0.3s;
}

.footer ul li a img
{
  filter: invert(1);
  position: relative;

  z-index: 3;
}

.footer ul li a:hover img{
  transition:  0.5s;
  transform: rotateY(360deg);
}


.footer ul li a:before
{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}


.footer ul li a {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}


.footer ul li a:hover:before {
  top: 0;
}

.footer ul li:nth-child(1) a:before{
  background: #0077b5;
}

.footer ul li:nth-child(2) a:before{
  background: #6e5494;
}

.footer ul li:nth-child(3) a:before{
  background: #c4302b;
}

.footer ul li:nth-child(4) a:before{
  background: #3cb371;
}

.footer ul li:nth-child(5) a:before{
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

.formBx
{
  min-width: 60%;
}
.formBx form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formBx form h3
{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea
{
  width: 100%;
  max-width: 800px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.formBx form textarea
{
  min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder
{
  color: #999;
}

.formBx form input[type="submit"]
{
  max-width: 100px;
  background: #2196f3;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hamburger {
  all: unset;
}

/*Text Animations*/
.wave
{
justify-content:center;
align-items:center;
font-weight:bold;max-width:300px;height:50%;
}

:root{
  /*interstellar vars*/
  --colors: #F2385A, #F5A503, #E9F1DF, #56D9CD, #3AA1BF;
  --max: length($colors);
  --dash: 70;
  --dash-gap: 10;
  --dash-space: $dash * ($max - 1) + $dash-gap * $max;
  --time: 6s;
  --time-step: $time/$max;
}

.interstellar use{
  stroke-dasharray:30;
  -webkit-animation: dash 10s linear infinite;
}
.interstellar:nth-child(2){
  -webkit-animation: dash 10s linear infinite;
  animation-delay: 0s;
}
.interstellar:nth-child(3){
  -webkit-animation: dash 10s linear infinite;
  animation-delay: 1s;
}
.interstellar:nth-child(4){
  -webkit-animation: dash 10s linear infinite;
  animation-delay: 2s;
}


@keyframes dash {
  to {
    stroke-dashoffset: 30;
  }
}


/*Responsive */
@media (max-width: 800px)
{
  header,
  header.sticky
  {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu
  {
    position: fixed;
    top: 65px;
    left: 100%;
    right: -100%;
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
    text-align: center;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  .menu.active
  {
    left: 0;
    right: 0;
  }
  header ul li a
  {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }

  header.sticky .toggle
  {
    filter: invert(0);
  }
  section
  {
    padding: 100px 50px;
  }
  .container
  {
    padding: 150px 50px 100px;
  }
  .banner
  {
    height: 100vh;
  }
  .banner h2
  {
    font-size: 1.5em;
  }
  .banner h3
  {
    font-size: 1em;
  }
  .btn
  {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .heading h2
  {
    font-size: 24px;
  }
  .content
  {
    flex-direction: column;
  }
  .work .content .workBx
  {
    width: 100%;
    padding: 10px;
  }

  .w50
  {

    max-width: 100%;

  }
  .contact ul li a
  {
    padding: 10px;
  }
  /*Hamburger Animation*/
  header.sticky .hamburger
  {
    filter: invert(0);
  }

  .hamburger {
    filter: invert(1);
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.6; }
    .hamburger.is-active:hover {
      opacity: 0.6; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #000; }

  .hamburger-box {
    width: 25px;
    height: 22px;
    display: inline-block;
    border: none;
    position: relative; }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 30px;
      height: 4px;
      background-color: #000;
      border-radius: 6px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.25s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }

  /*
     * Elastic
     */
  .hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .hamburger--elastic .hamburger-inner::before {
      top: 10px;
      transition: opacity 0.125s 0.275s ease; }
    .hamburger--elastic .hamburger-inner::after {
      top: 20px;
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

  .hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s; }
    .hamburger--elastic.is-active .hamburger-inner::before {
      transition-delay: 0s;
      opacity: 0; }
    .hamburger--elastic.is-active .hamburger-inner::after {
      transform: translate3d(0, -20px, 0) rotate(-270deg);
      transition-delay: 0.075s; }


}

@media (max-width: 600px)
{
  header,
  header.sticky
  {
    padding: 20px 20px;
  }

  .banner
  {
    height: 100vh;
  }

  .container
  {
    padding: 150px 20px 100px;
  }

  section
  {
    padding: 100px 20px;
  }
}

/*Scrolling Fade
.section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
*/
