
section.other {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: calc(100vh + var(--footer-height))
}

section.banner img
{
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  object-fit: none;
  background-position: center center;
  background-repeat: no-repeat;
}
