

section{
    scroll-snap-align: start;
}
section.other {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: calc(100vh + var(--footer-height))
}

section.banner{
  /* The image used */
background-image: url("../images/placeholder.png");

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.refs .content{
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.refs .content ul{
  list-style: none;
}

.ui{

  background: lightblue;
}
.ui h2{
    color: white;
}
.ui .content img{
  width: 20%;
  margin: 10px;
  height:auto;
  border-radius: 20px;
}

.ui .content img:hover{
  box-shadow: 5px 5px 5px 5px rgba(17, 21, 28, 0.03);
}
.other .content .tile{
  margin: 20px;
}
